

.benefits__title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
color: var(--color-primary);
margin-bottom: 10px;
text-align: center;

@media screen and (min-width: 768px) {
text-align: left;
}
}

.benefits__subtitle {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--color-text);
}

.benefits__icons {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 120px;
margin-bottom: 30px;
background: var(--color-background-4);
border-radius: 4px;
}

.benefits__list {
@media screen and (min-width: 768px) {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
}
}

.benefits__item {
@media screen and (max-width: 767px) {
&:not(:last-child) {
margin-bottom: 30px;
}
}

@media screen and (min-width: 768px) {
width: calc((100% - 30px*1)/ 2);
}

@media screen and (min-width: 1200px) {
width: calc((100% - 30px*3)/4);
}
}