.clients__title {
font-weight: 700;
font-size: 36px;
line-height: 1.171;
text-align: center;
margin-bottom: 50px;
}

.clients__list {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 30px;
}

.clients__item {
    width: calc((100% - 30px) / 2);
    
    @media screen and (min-width: 768px) {
        width:calc((100% - 60px) / 3);
    }

    @media screen and (min-width: 1200px) {
    width: calc((100% - 5*30px) / 6);
    }
}

.clients__item:last-child {
margin-right: 0;
}

.clients__link {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
height: 92px;
border-radius: 4px;
border: 1px solid var(--color-border-links);
;-ms-flex-align: center;
align-items: center;
;justify-content: center;
color: var(--color-border-links);
;transition-property: color, border-color;
;transition-duration: 250ms;
;transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
color: var(--color-logo-accent);
border-color: var(--color-logo-accent);
}

.clients__icon {
fill: currentColor;
}