.our-team {
background-color: var(--color-background-4);

@media screen and (max-width: 479px) {
margin-left: auto;
margin-right: auto;
}
}

.our-team__title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
color: var(--color-primary);
text-align: center;
margin-bottom: 50px; 
}

.our-team__list {
margin-left: auto;
margin-right: auto;

@media screen and (min-width:768px) {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 30px;
}
}

.our-team__item {
background-color: var(--color-background-1);
width: 100%;
text-align: center;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
transition: transform 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95), box-shadow 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

&:not(:last-child) {
@media screen and (max-width: 767px) {
margin-bottom: 30px;
}
}

@media screen and (min-width: 768px) {
width: calc((100% - 30px * 1) / 2);
}

@media screen and (min-width: 1200px) {
width: calc((100% - 30px * 3) / 4);
}
}

.our-team__item:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 3px var(--color-text);
}

.team-cards:last-child {
margin-right: 0;
}

.our-team__name {
font-weight: 500;
font-size: 16px;
line-height: 1.17;
color: var(--color-primary);
margin-bottom: 10px;
}

.our-team__profession {
font-weight: 400;
font-size: 16px;
line-height: 1.17;
color: var(--color-text);
margin-bottom: 16px;
}

.our-team__container {
padding-top: 30px;
padding-bottom: 30px;
}

.our-team__socials {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
}

.our-team__soclinks {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 44px;
height: 44px;
border: 0;
border-radius: 50%;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
color: var(--color-border-links);
-webkit-transition-property: color, background-color;
-o-transition-property: color, background-color;
transition-property: color, background-color;
-webkit-transition-duration: 250ms;
-o-transition-duration: 250ms;
transition-duration: 250ms;
-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
-o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__socitems {
margin-right: 10px;
}

.our-team__socitems:last-child {
margin-right: 0;
}

.our-team__soclinks:hover,
.our-team__soclinks:focus {
color: var(--color-background-1);
background-color: var(--color-logo-accent);
}

.our-team__icons {
fill: currentColor;
}